### Question 4 -
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.

Excepted Output Data Attributes
● Name of Earth Meteorite - string id - ID of Earth
● Meteorite - int nametype - string recclass - string
● mass - Mass of Earth Meteorite - float year - Year at which Earth
● Meteorite was hit - datetime format reclat - float recclong - float
● point coordinates - list of int

In [5]:
import requests
import pandas as pd
def fetch(link):
    # Download the data from the provided link
    response = requests.get(link)
    #use request to pull from url
    data = response.json()
    return data
data = fetch("https://data.nasa.gov/resource/y77d-th95.json")
df = pd.DataFrame(data)
df.drop([":@computed_region_cbhk_fwbd",":@computed_region_nnqa_25f4","id","fall","reclat","reclong"],axis=1,inplace=True)
df.to_csv("meteorite.scv",index=False)

In [6]:
df.head()

,name,nametype,recclass,mass,year,geolocation
0,Aachen,Valid,L5,21,1880-01-01T00:00:00.000,"{'type': 'Point', 'coordinates': [6.08333, 50...."
1,Aarhus,Valid,H6,720,1951-01-01T00:00:00.000,"{'type': 'Point', 'coordinates': [10.23333, 56..."
2,Abee,Valid,EH4,107000,1952-01-01T00:00:00.000,"{'type': 'Point', 'coordinates': [-113, 54.216..."
3,Acapulco,Valid,Acapulcoite,1914,1976-01-01T00:00:00.000,"{'type': 'Point', 'coordinates': [-99.9, 16.88..."
4,Achiras,Valid,L6,780,1902-01-01T00:00:00.000,"{'type': 'Point', 'coordinates': [-64.95, -33...."